@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .carActions > div{
         @apply md:w-[60%] lg:w-[70%]  relative;
    }

    /* .car-container > div{
        @apply  md:flex;
    } */

  

    .me > .mgnlEditor{
        @apply w-[100%];
    }

    /* Footer Area Magnolia Styling */
    .footerArea > .mgnlEditor{
        @apply w-[100%] ;
    }

    .footerArea  .mgnlEditor{
        grid-column: 1 / -1;
    }
    /* .footerArea :nth-last-child(2){
        grid-column: 1 / -1;
    }
    .footerArea:last-child{
        grid-column: 1 / -1;
    } */
      /* Footer Area Magnolia Styling ends here*/

      
    /* Text caption style */
    .caption{
        @apply lg:text-lg
    }

    /* .me > div:last-child{
        @apply md:w-[50%] border-2 border-[tomato];
    } */ 
}

body {
    margin: 0;
}

/* div .mgnlEditorBar{
    width:100%;
} */

/* .nav-links > :first-child{
    border: solid 1px tomato;
    display: flex;
    flex-wrap: wrap;
} */
