@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .carActions > div {
    @apply md:w-[60%] lg:w-[70%]  relative;
  }

  /* .car-container > div{
        @apply  md:flex;
    } */

  .me > .mgnlEditor {
    @apply w-[100%];
  }

  /* Footer Area Magnolia Styling */
  .footerArea > .mgnlEditor {
    @apply w-[100%];
  }

  .footerArea .mgnlEditor {
    grid-column: 1 / -1;
  }
  .rightArea > .mgnlEditor {
    @apply w-[100%];
  }

  .socialIconsArea > .mgnlEditor {
    @apply border-2 border-[tomato];
  }

  /* Text caption style */
  .caption {
    @apply lg:text-lg;
  }

  .footerDefault > .mgnlEditor {
    @apply w-[100%] relative top-10;
  }

  .car > .mgnlEditor {
    /* @apply z-50 pointer-events-none; */
  }
}

:root {
  --swiper-navigation-size: 44px !important;
}
body {
  margin: 0;
}

.Footer {
  position: relative;
  background-image: url(/img/car1.jpg);
  background-size: cover;
  background-color: rgba(0, 0, 0);
  background-repeat: no-repeat;
}
.Footer::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1;
}

.aboutBanner-container{
  position: relative;
  background-image: url(/img/AboutBg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}


.hide {
  visibility: hidden;
}

.swiper-button-prev,
.swiper-button-next {
  color: rgb(255, 255, 255) !important;
  font-size: 10px !important;
  text-shadow: 2px 1px 2px rgb(0, 0, 0);
}

.swiper-slide-thumb-active {
  border: solid 5px tomato;
  border-radius: 10px;
  z-index: 20;
}

@media (max-width: 768px) {
  :root {
    --swiper-navigation-size: 25px !important;
  }
}